    /* footer */
    
    footer li {
        font-size: 2em;
        /* margin-left: 66%; */
    }
    
    .footer-left {
        width: 250px;
    }
    
    .footer-left h3 {
        font-size: 18px;
    }
    
    form {
        padding: 40px;
    }
    
    input[type=text],
    input[type=email],
    textarea {
        width: 70%;
        box-sizing: border-box;
        border: none;
        background-color: #000;
        border-bottom: 2px solid #fff;
        padding-top: 1em;
        color: rgb(101, 99, 99);
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        resize: none;
    }
    
    input[type=submit] {
        width: 30%;
        padding: 10px;
        border: none;
        cursor: pointer;
    }
    
    input[placeholder="Enter your name"],
    input[placeholder="Enter your email address"],
    textarea {
        color: rgb(101, 99, 99);
        padding-bottom: 4px;
        font-size: 18px;
    }
    
    label {
        font-size: 14px;
    }
    
    #besked {
        margin-top: 0.7em;
        text-align: right;
        color: rgb(87, 78, 78);
    }
    
    @media screen and (max-width:768px) {
        form {
            padding: 1px;
        }
    }
    
    @media screen and (max-width:480px) {
        footer {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            background-color: #8EB676;
            color: #fff;
        }
        .footer-left {
            grid-area: 1/1/-5/-1;
        }
        .footer-right {
            grid-area: 1/1/5/-1;
        }
        .footer-left {
            padding-bottom: 6em;
        }
        .footer-left h2 {
            font-size: 38px;
            width: 400px;
        }
        .footer-left h3 {
            text-align: center;
        }
        footer i {
            padding-right: 1px;
            font-size: 28px;
        }
    }