.photogallery-lightbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-top: 4em;
}


/* .fbox {
    display: flex;
} */


/* .fbox>div {
    flex: 1;
    padding: 1%;
} */


/*-- Lightbox: --*/

#lightbox_mask {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    z-index: 100;
}

#lightbox {
    background-color: #FFF;
    position: fixed;
    width: 60%;
    left: 20%;
    margin: 2em auto;
    line-height: 0;
    padding: 10px;
    z-index: 3;
    display: none;
    z-index: 100;
}