/* gallery */

.photogallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.photogallery img {
    width: 100%;
    height: auto;
    border: 2px solid #fff;
    margin: 3px;
    margin-bottom: 1%;
}

.flex {
    flex: 1;
}

@media screen and (max-width:480px) {
    .photogallery {
        width: 90%;
        margin: 0 auto;
        padding-right: 11%;
    }
}